<!-- INDEX-->
<!-- Header-->
<section id="hero" class="py-5">

    <div class="container px-5 pb-5 py-5">
        <div class="row gx-5 align-items-center">
            <div class="col-xxl-5">
                <!-- Header text content-->
                <div class="text-center text-xxl-start">
                    <div class="badge bg-gradient-primary-to-secondary text-white mb-4"><div class="text-uppercase">Frontend &middot; Backend &middot; Database</div></div>
                    <div class="fs-3 fw-light text-muted">Size şu konuda destek olabilirim:</div>
                    <h1 class="display-3 fw-bolder mb-5"><span class="text-gradient d-inline">Full Stack Devoloper</span></h1>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xxl-start mb-3">
                        <a class="btn btn-primary btn-lg px-5 py-3 me-sm-3 fs-6 fw-bolder" href="#resume">Özgeçmiş</a>
                        <a class="btn btn-outline-dark btn-lg px-5 py-3 fs-6 fw-bolder" href="#projects">Projeler</a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-7">
                <!-- Header profile picture-->
                <div class="d-flex justify-content-center mt-5 mt-xxl-0">
                    <div class="profile bg-gradient-primary-to-secondary">
                        
                        <!-- TIP: For best results, use a photo with a transparent background like the demo example below-->
                        <!-- Watch a tutorial on how to do this on YouTube (link)-->
                        <img class="profile-img img-fluid" src="/assets/profile.png" alt="profile" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- About Section-->

<section id="about" class="bg-light py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-xxl-8">
                <div class="text-center my-5">
                    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Hakkımda</span></h2>
                    <p class="lead fw-light mb-4">Benim ismim Lorem ipsum dolor sit amet</p>
                    <p class="text-muted">muzayede.com şirketinde Lorem ipsum dolor sit amet olarak çalışmaktayım</p>
                    <div class="d-flex justify-content-center fs-2 gap-4">
                        @* <a class="text-gradient" href="#!"><i class="bi bi-twitter"></i></a> *@
                        <a class="text-gradient" href="https://www.linkedin.com/feed/"><i class="bi bi-linkedin"></i></a>
                        @* <a class="text-gradient" href="#!"><i class="bi bi-github"></i></a> *@
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- RESUME -->
<!-- Page Content-->
<section id="resume" class="resume section">
    <div class="container px-5 my-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Özgeçmiş</span></h1>
        </div>

        <!-- Experience Section -->
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0">Deneyim</h2>
                </div>

                <!-- Experience Cards -->
                <div class="row">
                    <!-- Experience Card 1 -->
                    <div class="col-md-6">
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2021 - mevcut</div>
                                    <div class="small fw-bolder">Lorem ipsum dolor sit amet</div>
                                    <div class="small text-muted">MasterTürk Grubu</div>
                                    <div class="small text-muted">@* İstanbul, Türkiye *@</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Experience Card 2 -->
                    <div class="col-md-6">
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2019 - 2019</div>
                                    <div class="small fw-bolder">Lorem ipsum dolor sit amet</div>
                                    <div class="small text-muted">Lorem ipsum dolor sit amet</div>
                                    <div class="small text-muted">@* Gotham City, NY *@</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Experience Cards -->
            </div>
        </div>

        <!-- Education Section -->
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <h2 class="text-secondary fw-bolder mb-4">Eğitim</h2>
                <div class="row">
                <!-- Education Card 1 -->
                <div class="col-md-6">
                <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="bg-light p-4 rounded-4">
                            <div class="text-secondary fw-bolder mb-2">2017 - 2021</div>
                            <div class="mb-2">
                                <div class="small fw-bolder">Lorem ipsum dolor sit amet</div>
                                <div class="small text-muted">@* Fairfield, NY *@</div>
                            </div>
                            <div class="fst-italic">
                                <div class="small text-muted">@* Master's *@</div>
                                <div class="small text-muted">Lorem ipsum dolor sit amet</div>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                    <div class="col-md-6">
                    <div class="card shadow border-0 rounded-4 mb-5">
                    <div class="card-body p-5">
                        <div class="bg-light p-4 rounded-4">
                            <div class="text-secondary fw-bolder mb-2">2021 - mevcut</div>
                            <div class="mb-2">
                                <div class="small fw-bolder">Lorem ipsum dolor sit amet</div>
                                <div class="small text-muted">@* Fairfield, NY *@</div>
                            </div>
                            <div class="fst-italic">
                                <div class="small text-muted">@* Master's *@</div>
                                <div class="small text-muted">Lorem ipsum dolor sit amet</div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>

                <!-- End Education Card -->
            </div>
        </div>

        <!-- Download resume button -->
        <div class="text-center mb-5">
            <a class="btn btn-primary px-4 py-3" target="_blank" href="~/assets/Profile.pdf">
                <div class="d-inline-block bi bi-download me-2"></div>
                Özgeçmişi indir
            </a>
        </div>
    </div>
</section>





<!-- Divider-->
<div class="pb-5"></div>
<!-- Skills Section-->
<section>
    <!-- Skillset Card-->
    <div class="card shadow border-0 rounded-4 mb-5">
        <div class="card-body p-5">
            <!-- Professional skills list-->
            <div class="mb-5">
                <div class="d-flex align-items-center mb-4">
                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Yetenekler</span></h3>
                </div>
                <div class="row row-cols-1 row-cols-md-3 mb-4">
                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Ms Sql Veritabanı</div></div>
                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Frontend</div></div>
                    <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Backend</div></div>
                </div>
                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Web Api</div></div>
                </div>
            </div>
            <!-- Languages list-->
            <div class="mb-0">
                <div class="d-flex align-items-center mb-4">
                    <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                    <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Diller</span></h3>
                </div>
                <div class="row row-cols-1 row-cols-md-3 mb-4">
                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">HTML</div></div>
                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">CSS</div></div>
                    <div class="col"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">JavaScript</div></div>
                </div>
                <div class="row row-cols-1 row-cols-md-3">
                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">C#</div></div>
                    <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">Asp.Net MVC</div></div>
                </div>
            </div>
        </div>
    </div>
</section>






<!-- PROJECTS -->
<!-- Projects Section-->
<section id="projects" class="py-5">
    <div class="container px-5 mb-5">
        <div class="text-center mb-5">
            <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Projeler</span></h1>
        </div>
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-11 col-xl-9 col-xxl-8">
                <!-- Project Card 1-->
                <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
                    <div class="card-body p-0">
                        <div class="row g-0 align-items-center">
                            <!--Yazı kısmı-->
                            <div class="col-md-8 p-5">
                                <h2 class="fw-bolder">Coldwell Banker®</h2>
                                <p>MasterTürk Grubu’nun bünyesinde yer alan Coldwell Banker, dünya çapında tanınan ve prestijli bir gayrimenkul markasıdır. Dünyanın ilk gayrimenkul danışmanlık markasıdır ve Amerika’da 1 milyon dolar üzeri yapılan lüks gayrimenkul satışlarının %80’i Coldwell Banker tarafından yapılmaktadır. Türkiye ve Kıbrıs’ta yüksek müşteri memnuniyeti odaklı çalışan Coldwell Banker, Türkiye ve Kıbrıs genelinde yaklaşık 250 franchise ofisi ve yaklaşık 4.000 kişilik danışman kadrosuyla hizmet vermektedir.</p>
                            </div>
                            <!--Resim kısmı-->
                            <div class="col-md-4 text-center">
                                <img class="img-fluid" src="~/assets/CB_Logo-02.png" alt="CB_Logo" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Card 2-->
                <div class="card overflow-hidden shadow rounded-4 border-0">
                    <div class="card-body p-0">
                        <div class="row g-0 align-items-center">
                            <!--Yazı kısmı-->
                            <div class="col-md-8 p-5">
                                <h2 class="fw-bolder">Century 21®</h2>
                                <p>Dünyanın en yaygın ve en bilinen gayrimenkul markası Century 21, MasterTürk Grubu’nun bir diğer önemli markasıdır. Grubun, dünyadaki en bilinir markasıdır. Türkiye ve Kıbrıs’taki master franchise haklarına sahip olan Century 21, gayrimenkul sektöründe yenilikçi çözümler ve kaliteli hizmet anlayışıyla fark yaratmaktadır. Century 21, Türkiye ve Kıbrıs genelinde 110’u aşkın gayrimenkul ofisi ve yaklaşık 1.000 kişilik güçlü gayrimenkul danışmanları ile hizmet vermektedir.</p>
                            </div>
                            <!--Resim kısmı-->
                            <div class="col-md-4 text-center">
                                <img class="img-fluid" src="~/assets/c21turkiyekibris-logo-02.png" alt="c21turkiyekibris-logo" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Card 3-->
                <div class="card overflow-hidden shadow rounded-4 border-0">
                    <div class="card-body p-0">
                        <div class="row g-0 align-items-center">
                            <!--Yazı kısmı-->
                            <div class="col-md-8 p-5">
                                <h2 class="fw-bolder">ERA®</h2>
                                <p>MasterTürk Grubu’nun bir diğer önemli markası olan ERA, global ölçekte bir gayrimenkul hizmeti sunmaktadır. Avrupa’nın lider gayrimenkul markalarından biri olan ERA, müşteri odaklı yaklaşımı ve sektöre sunduğu yenilikçi çözümler ile Türkiye’de ve Kıbrıs'ta da hızla büyümekte ve sektöründe önemli bir yer edinmektedir. ERA, Türkiye ve Kıbrıs genelinde yaklaşık 70 franchise ofisine sahip, 300’ü aşkın yenilikçi gayrimenkul danışmanına sahiptir.</p>
                            </div>
                            <div class="col-md-4 text-center">
                                <img class="img-fluid" src="~/assets/era-logo.png" alt="era-logo" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Card 4-->
                <div class="card overflow-hidden shadow rounded-4 border-0">
                    <div class="card-body p-0">
                        <div class="row g-0 align-items-center">
                            <!--Yazı kısmı-->
                            <div class="col-md-8 p-5">
                                <h2 class="fw-bolder">muzayede.com®</h2>
                                <p>MasterTürk Grubu'nun teknoloji alanındaki yatırımlarından biri olan Müzayede.com, gayrimenkul ve otomobil müzayedelerine aracılık etmektedir. 2020 yılında kurulan Müzayede.com, yılda 8.000’den fazla aracın satışına aracılık ederek, sektördeki dijital dönüşüme öncülük etmektedir. Yenilikçi platformu ile müşterilerine güvenli ve şeffaf bir müzayede deneyimi sunmakta, müzayede işlemlerini çevrimiçi ortamda gerçekleştirme imkanı sağlamaktadır.</p>
                            </div>
                            <!--Resim kısmı-->
                            <div class="col-md-4 text-center">
                                <img class="img-fluid" src="~/assets/muzayedelogo2-01.png" alt="muzayedelogo2" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Card 5-->
                <div class="card overflow-hidden shadow rounded-4 border-0">
                    <div class="card-body p-0">
                        <div class="row g-0 align-items-center">
                            <!--Yazı kısmı-->
                            <div class="col-md-8 p-5">
                                <h2 class="fw-bolder">MasterTürk Proje</h2>
                                <p>
                                    MasterTürk Proje, grup şirketimizin gayrimenkul proje geliştirme, pazarlama ve satış alanında uzmanlaşmış markasıdır. Konut, ticari ve arsa projelerini; geliştirme, pazarlama ve satış süreçlerinde A’dan Z’ye uçtan uca yöneterek her kesimden yatırımcıya, alıcıya ve diğer grup şirketimiz olan Premier Yapı’ya değer sunar.

                                    Yenilikçi pazarlama stratejilerimiz, güçlü dijital altyapımız, büyük saha tecrübemiz, her bir konuda alanının en iyileri olan yönetim ekibimiz ile projelerimizi doğru alıcılarla buluşturuyoruz.
                                </p>
                            </div>
                            <!--Resim kısmı-->
                            <div class="col-md-4 text-center">
                                <img class="img-fluid" src="~/assets/masterturk-proje.png" alt="masterturk-proje" />
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Card 6-->
                <div class="card overflow-hidden shadow rounded-4 border-0">
                    <div class="card-body p-0">
                        <div class="row g-0 align-items-center">
                            <!--Yazı kısmı-->
                            <div class="col-md-8 p-5">
                                <h2 class="fw-bolder">Premier Yapı®</h2>
                                <p>
                                    2021 yılında kurulan Premier Yapı, MasterTürk Grubu’nun inşaat şirketidir. 2025 değerlemelerine göre yaklaşık 150 milyon dolarlık portföye sahip olan Premier Yapı, B sınıfı müteahhit karnesine sahiptir ve inşaat sektöründe yüksek kaliteli projelere imza atmaktadır. Modern tasarımlar, sürdürülebilir projeler ve müşteri odaklı çözümler ile Premier Yapı, Türkiye'nin en nitelikli inşaat şirketlerinden biri olma yolunda hızla ilerlemektedir.

                                    Grubun diğer şirketlerinin güçlü altyapısına dayanarak, Premier Yapı, inşaat sektöründeki tüm aşamalarda hizmet vermekte ve sektördeki kaliteyi temsil etmeyi amaçlamaktadır.

                                    MasterTürk Grubu, Türkiye’de ve dünyada her biri kendi alanında lider olan bu şirketler aracılığıyla, güçlü lideriyle ve tecrübeli ekibiyle birlikte, sektördeki gücünü pekiştirmekte ve müşterilerine kaliteli, güvenilir ve yenilikçi hizmetler sunmaktadır.

                                    Etik değerlerinden ödün vermeden her zaman en iyiyi hedeflemektedir.
                                </p>
                            </div>
                            <div class="col-md-4 text-center">
                                <img class="img-fluid" src="~/assets/premier-Yapi-logo.png" alt="premier-Yapi-logo" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Call to action section-->
<section class="py-5 bg-gradient-primary-to-secondary text-white">
    <div class="container px-5 my-5">
        <div class="text-center">
            <h2 class="display-4 fw-bolder mb-4">@* Let's build something together *@Size Yardım Edebileceğim Bir Şey mi var?</h2>
            <a class="btn btn-outline-light btn-lg px-5 py-3 fs-6 fw-bolder" href="#contact">Benimle İletişim Kur</a>
        </div>
    </div>
</section>




<!-- CONTACT -->
<!-- Page content-->

<section id="contact" class="py-5">
    <div class="container px-5">
        <!-- Contact form-->
        <div class="bg-light rounded-4 py-5 px-4 px-md-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h1 class="fw-bolder">İletişime geçin</h1>
                <p class="lead fw-normal text-muted mb-0">Birlikte çalışalım!</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                            <label for="name">İsim</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">isim alanı zorunlu.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                            <label for="email">Email adresi</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">email alanı zorunlu.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">email geçerli değil</div>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                            <label for="phone">Telefon numarası</label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">telefon numarası zorunlu.</div>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                            <label for="message">Mesaj</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">mesaj alanı zorunlu</div>
                        </div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form başarılı</div>
                                To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Gönder</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

